{{extend 'layout.html'}}

<head>
	<style>
		.contact { 	font-size:40px; text-align:center; padding-top:20px;}
		
	</style>
</head>


<div id="wrapper">
		<h1 class="contact"> Contact Us </h1>
		<h2 style="text-align: center; font-size:14px;"> If you have any questions, feel free to contact us in any of the ways listed below. </h2>
		<br></br>
</div>
<div style="padding-bottom:60px">
	<table align="center" id="tb1" width="50%" cellpadding="10">
		<tr>
			<td width="50%" colspan="2">
				<h3> What is SlugClasses? </h3>
				Slug classes is an independent site meant to help UCSC students pick their classes for each new quarter. They can see what is being said about
				each individual class as well as each individual professor and choose which class and professor to take for their upcoming quarter.
			</td>
		<tr>
		<tr>
			<td width="50%" colspan="2">
				<h3> You can help! </h3>
				Being an independent site with limited funds makes it hard to update all the information about classes, so we are crowdsourcing the information.
				Any logged in user can update our database. And in wiki-like fashion add reviews. This keeps things unbiased as well as updated. So get out there,
				and do your part to help improve this non-profit site.
			</td>
		<tr>
		<tr>
			<td colspan="2">
				<h3> Got Suggestions? Reach us at: </h3>
			</td>
		</tr>
		<tr>
			<td>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d101976.6894693728!2d-122.060872!3d36.991386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a8e3b7c928320d5!2sUniversity+of+California%2C+Santa+Cruz!5e0!3m2!1sen!2sus!4v1425709862223" align="left" width="400" height="330" frameborder="0" ></iframe>
			</td>
			<td>
				<p> <br><b>Slug Classes</b></br></p>
				<p> 1156 High Street, Santa Cruz, CA 95064</p>
				<p> <b>Phone:</b> (831) 459-0111</p>
				<p><b>Email:</b> <a href="http://gmail.com"><font color="blue">rsingh21@ucsc.edu</font></a>, <a href="http://gmail.com"><font color="blue">kchinnap@ucsc.edu</font></a><p/>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<p> Slug Classes is an independent site, and is in no way affiliated with The University of California, Santa Cruz or any of its affiliates. If you have complaints about any
				falsified information, fake reviews, or generally indecent and obscene material on our website please contact us with one of the methods above. Any reviews found on our
				site do not represent our own views, but the views of many students. All reviews are required to oblige by our terms and conditions. </p>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center" width="100%">
				<a href="{{=URL('default', 'termsandconditions')}}" class="button">Terms & Conditions</a>
			</td>
		</tr>
	</table>
</div>