{{extend 'layout.html'}}

<head>
	<style>
		.contact { 	font-size:40px; text-align:center; padding-top:20px;}
	</style>
</head>


<div id="wrapper">
		<h1 class="contact"> Contact Us </h1>
		<h2 style="text-align: center; font-size:14px;"> If you have any questions, feel free to contact us in any of the ways listed below. </h2>
		<br></br>

<div id="indented" style="padding-bottom: 300px; padding-right:320px">

		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d101976.6894693728!2d-122.060872!3d36.991386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a8e3b7c928320d5!2sUniversity+of+California%2C+Santa+Cruz!5e0!3m2!1sen!2sus!4v1425709862223" align="left" width="300" height="250" frameborder="0" style="border:0; padding-left:380px"></iframe>
		<p align="center"> <br><b>Slug Classes</b></br></p>
		<p align="center"> 1156 High Street, Santa Cruz, CA 95064</p>
		<p align="center"> <b>Phone:</b> (831) 459-0111</p>
		<p align="center"><b>Email:</b> <a href="http://gmail.com"><font color="blue">rsingh21@ucsc.edu</font></a>, <a href="http://gmail.com"><font color="blue">kchinnap@ucsc.edu</font></a><p/>
			 
		</div>

		<script language="javascript">var sa_email_id = '46494-db3a9';var sa_sent_text = 'Thank you for contacting us. We will get back to you soon.';</script>
		
		<div id="sa_contactdiv" align="center" style="padding-bottom: 60px;" >
			<form name=sa_htmlform style="text-align: center; padding-top:-50px; width:800px;" onsubmit="return sa_contactform()">
			<table align="center">
				<tr><td>Name: </td> <td> <input class="string" type="text" name="name" /></td></tr>
				<tr><td>E-mail Address:<span style="color:#D70000">*</span> </td><td><input class="string" type="text" name="email" required="true" /></td></tr>
				<tr><td>Phone Number:</td> <td><input class="string" type="text" name="number" /></td></tr>
				<tr><td>Subject:<span style="color:#D70000">*</span> </td><td> <input class="string" type="text" name="subject" required="true" /></td></tr>
				<tr><td>Message:<span style="color:#D70000">*</span> </td><td> <textarea name="message" cols="42" rows="9" required="true"></textarea></td></tr>
				<tr><td></td><td><input type="submit" value="Send Message" style="font-weight:bold"></td></tr>
			</table>
			</form><div style="align="center""</div></div>
			

		</div>

		

		</div>
