{{extend 'layout.html'}}

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="hexagon">
					<a href="{{=URL('default', 'classes')}}" alt="Look up classes" style="text-decoration: none; color:white;">
						<span class="icon icon-book"></span>
					</a>
				</div>
				<div class="title">
					<h2>Look up classes</h2>
					<span class="byline">View the hundreds of classes offered at UCSC.</span>
				</div>
				
				<p>Class catalogs and professor database are updated by our staff at the beginning of every quarter.</p>
					
				<a href="{{=URL('default', 'termsandconditions')}}" class="button">Terms & Conditions</a>
				<br></br><br></br>
				<p> This website is free of use to anyone. Please comply to our rules and guidelines. 
			        False information will not be tolerated and actions will be taken accordingly.
			        Any violation of the Terms and Conditions will result in account termination.</p>
			</div>		
			<div class="ebox2">
				<div class="hexagon">
						<a href="{{=URL('default', 'professors')}}" alt="Professors" style="text-decoration: none; color:white;">
							<span class="icon icon-book"></span>
						</a>
						
					</div>
					<div class="title">
						<h2>Professors</h2>
						<span class="byline">Browse through our catalog of professors teaching at UCSC.
										     This catalog is in now way associated with the catalog on the official UCSC page. Nor is
										     this website affiliated with UCSC in any way.
						</span>
					</div>
						
					<a href="http://ucsc.edu" class="button">Visit ucsc.edu</a>
				</div>
			</div>

		</div>	

	</div>
</div>
