{{extend 'layout.html'}}

<div id="wrapper" style="background-image: url(ucscSlug.jpg);">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<a href="#" alt="Look up classes" style="text-decoration: none;">
					<div class="hexagon" style="cursor: pointer;" ><span class="icon icon-book"></span></div>
				</a>
				<div class="title">
					<h2>Look up classes</h2>
					<span class="byline">View the hundreds of classes offered at UCSC.</span>
				</div>
				
				<p> This is a free to use website, and as such is open to all users. Please comply by our rules and guidelines. 
					Any violation of the rules will result in account termination.
					False information will not be tolerated and actions will be taken accordingly.
					Lists are updated by our staff at the beginning of every quarter.</p>
				<a href="#" class="button">Terms & Conditions</a>
			</div>		

			<div class="ebox2">
				<a href="#" alt="Look up classes" style="text-decoration: none;">
					<div class="hexagon"><span class="icon icon-bullhorn"></span></div>
				</a>
				<div class="title">
					<h2>Announcements</h2>
					<span class="byline">as well as Updates, Bug-Fixes, Mod Posts, and more</span>
				</div>
				<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet.</p>
				<a href="#" class="button">View all posts</a>
			</div>		

		</div>	

	</div>
</div>
