{{extend 'layout.html'}}
<head>
	<style>
		.rev { 			font-size:40px; text-align:center; padding-top:20px;}
		.search {		padding-top: 15px; padding-bottom: 40px;}
		.btn {			text-decoration: none; font-weight: bolder;x}
	</style>
</head>

<div id="wrapper">
	<div id="indented" style="padding-bottom: 20px;">
		<h1 class="rev"> Add a new Review </h1>
		<h2 style="text-align: center; font-size:16px;"> Thank you for helping us expand our database. </h2>
		<div class="search" align="center"> {{=form}} </div>
		<div class="err"> {{=message}}</div>
		
	</div> 
</div>
